[data-page='contact']
	.main-content			
		h3, p
			color black
		.contact-wrapper
			display flex
			width 100%
			max-width 1100px
			padding 80px 0
			margin auto
			flex-wrap wrap
			.contact-cell
				padding 20px 40px
				h3
					font-size 200%
				p
					margin-top 10px