[data-page="matsedel"]
	.main-content
		
	.headerDiv
		height 457px
		width 1667px
		overflow hidden
		.header-image
			height 100%
			width 100%
			background-size cover
			background-image url('images/food-header.jpeg')
			background-repeat no-repeat
			filter: blur(4px) brightness(60%)
				.header-text 
			height 849px
			width 183px
			font-family bebas
			font-size 130px		
			color #ffffff

