//Importing variables file
@import 'variables'


//Setting fonts for VRO-web
font-face-create('BebasNeue', 'BebasNeue-Book', 200, normal, "otf")
font-face-create('BebasNeue', 'BebasNeue-Regular', 600, normal, "otf")
font-face-create('BebasNeue', 'BebasNeue-Bold', 800, normal, "otf")
font-face-create('CenturyGothic', 'CenturyGothic')
font-face-create('CenturyGothic', 'CenturyGothic-Bold', bold)
font-face-create('CenturyGothic', 'CenturyGothic-Italic', normal, italic)

//All attributes defaults
*
	margin 0
	font-family 'CenturyGothic'
	line-height 100%

h1,h2,h3
	font-family 'BebasNeue'
	
h1
	font-size 400%
h2
	font-size 300%
h3
	font-size 200%
h4
	font-size 150%
h5
	font-size 125%
h6
	font-size 100%