@import 'base'
@import 'variables'
@import 'lib/footer'
@import 'lib/main-content'
@import 'lib/spinner'

//Require stylus files for pages

@require 'pages/start'
@require 'pages/contact'
@require 'pages/classpoints'
@require 'pages/new-user'
@require 'pages/signed-in-home'
@require 'pages/matsedel'
@require 'pages/styrelsen'
@require 'pages/interest-group'
@require 'pages/create-group'
@require 'pages/add-student'
