//Import stylus extension nib
@import nib

//Color variables

$darkgreen = #144230
$middlegreen = #20684C
$green = #28825F

//Function for creating font-faces
font-face-create(name, fileName, weight=normal, style=normal, ext="ttf")
	@font-face
		font-family name
		font-weight weight
		font-style style
		src unquote("url(/fonts/"+fileName+"."+ext+")")