.footer-content
	.left-content 
		a.link-logo(href='/')
		p Viktor Rydberg Odenplans Elevkår
		p odenplanselevkar@vrg.se
		p Frejgatan 30
	.middle-content
		h6 Elevkåren
		a(href='/contact') Kontakt
	.right-content
		h6 Håll dig uppdaterad
		a(href='https://www.instagram.com/vroelevkar/') Instagram
		a(href='https://www.facebook.com/vroelevkar/') Facebook
		a(href='https://www.youtube.com/user/OdenplansElevkar/featured') YouTube
		a(href='https://twitter.com/vroelevkar') Twitter
.lower-footer
	p Copyright © 2018 Viktor Rydberg Odenplans Elevkår