doctype html
html
	head
		title #{title}

		link(rel='stylesheet' type='text/css' href='/css/coat.css')

	body(data-page=dataPage)
		.main-content
			block mainContent
		.footer
			.footer-content Skapat av bland annat Sebastian
