doctype html
html
	head
		title #{title}

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(rel='stylesheet' type='text/css' href='/css/coat.css')

		script(src='/javascript/general.js')

		//- Jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		//- Firebase
		script(src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js")
		script.
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCsw0zGUHgtaA0K4oPkAshIutfdEpyn31c",
				authDomain: "vro-web.firebaseapp.com",
				databaseURL: "https://vro-web.firebaseio.com",
				projectId: "vro-web",
				storageBucket: "vro-web.appspot.com",
				messagingSenderId: "902824305582"
			}
			firebase.initializeApp(config)

	body(data-page=dataPage)
		block pageStatus
		if !signedOutPage
			header.topbar
				a(href='/').link-logo
				h2.signed-in-heading God morgon Sebastian
				.settings(onclick='logoutMember()') o

			aside.sidebar
				nav.signed-in-nav
					a Matsedeln
					a Klasspokalen
					a Kommittéer
					a Om kåren
					a Kalendarium

			.main-content.signed-in
				block mainContent
				#spinner.page-overlay
					img.inner-spinner(src='images/spinner.png')
					img.outer-spinner(src='images/spinner.png')

		else
			.nav-header
				a(href='/').link-logo
				#menu-icon(onclick='toggleMenu()')
					.menu-row
					.menu-row
					.menu-row
				nav#navigation
					a(href='/contact') Kontakt
					a(href='/classpoints') Klasspokalen
					a(href='https://drive.google.com/drive/folders/0B-UL6CSzT9I0bXUzUXVCRFNVZVk?usp=sharing') Styrelseprotokoll
					#header-sign-in(onclick='loginMember()') Logga in
			.main-content
				block mainContent
			footer
				include elements/footer-content
		script.
			var menuShown = false
			firebase.auth().onAuthStateChanged(function(user){
				if(user){
					_('spinner').classList.add('hidden')
				}
			})
			function toggleMenu(){
				var menu = _('menu-icon')
				var nav = _('navigation')

				if(!menuShown){
					menu.classList.add('openNav')
					nav.classList.add('open')
					menuShown = true
				} else if (menuShown){
					menu.classList.remove('openNav')
					nav.classList.remove('open')
					menuShown = false
				}
			}