doctype html
html
	head
		title #{title}

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="google-site-verification" content="Lb-bogO1QhMehd-JLptqmVdrUz9WYPYUAs0Eloch0yg")
			
		link(rel='stylesheet' type='text/css' href='/css/coat.css')

		script(src='/javascript/general.js')

		//- Jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		//- Firebase
		script(src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js")
		script.
			// Initialize Firebase
			var config = {
				apiKey: "AIzaSyCsw0zGUHgtaA0K4oPkAshIutfdEpyn31c",
				authDomain: "vro-web.firebaseapp.com",
				databaseURL: "https://vro-web.firebaseio.com",
				projectId: "vro-web",
				storageBucket: "vro-web.appspot.com",
				messagingSenderId: "902824305582"
			}
			firebase.initializeApp(config)

	body(data-page=dataPage)
		block pageStatus
		if !signedOutPage
			header.topbar
				#menu-icon(onclick='toggleMenu("menu-icon", "sidebar")')
					.menu-row
					.menu-row
					.menu-row
				a(href='/user').link-logo
				h2.signed-in-heading VRO Elevkår Web-app
				.settings(onclick='logoutMember()') Logga ut

			aside.sidebar#sidebar
				nav.signed-in-nav
					//- a Matsedeln
					a(href='/user/classpoints') Klasspokalen
					a(href='/user/discount-card') Kårkortet
					a#log-out(onclick='logoutMember()') Logga ut
					//- a(href='/user/interest-groups') Kommittéer

					//- a.admin-btn Admin

			.main-content.signed-in
				block mainContent
				#spinner.page-overlay
					img.inner-spinner(src='/images/spinner.png')
					img.outer-spinner(src='/images/spinner.png')

		else
			.nav-header
				a(href='/').link-logo
				#menu-icon2(onclick='toggleMenu("menu-icon2", "navigation")')
					.menu-row
					.menu-row
					.menu-row
				nav#navigation
					a(href='/contact') Kontakt
					a(href='https://drive.google.com/drive/folders/0B-UL6CSzT9I0bXUzUXVCRFNVZVk?usp=sharing') Styrelseprotokoll
					#header-sign-in(onclick='loginMember()') Logga in
			.main-content
				block mainContent
			footer
				include elements/footer-content
		script.
			var firstSubPage = window.location.pathname.replace(/\/$/,'').split('/')
			firstSubPage = firstSubPage[1]

			//- If User Page

			if(firstSubPage === 'user'){
				authenticateMember()
				authenticateAdmin(function(){
					var adminBtn = document.createElement('a')
					adminBtn.classList.add('admin-btn')
					adminBtn.href = '/admin/add-student'
					adminBtn.innerHTML = 'Admin'
					__('signed-in-nav').appendChild(adminBtn)
				}, undefined)
			}

			//- If Admin Page

			if(firstSubPage === 'admin'){
				authenticateAdmin(function(){
					var adminBtn = document.createElement('a')
					adminBtn.classList.add('admin-btn')
					adminBtn.href = '/admin/add-student'
					adminBtn.innerHTML = 'Admin'
					__('signed-in-nav').appendChild(adminBtn)
					console.log(adminBtn)
				}, function(){
					window.location.replace('/user')
				})
			}

			var menuShown = false
			firebase.auth().onAuthStateChanged(function(user){
				if(user){
					_('spinner').classList.add('hidden')
				}
			})
			function toggleMenu(menu, nav){
				var menu = _(menu)
				var nav = _(nav)

				if(!menuShown){
					menu.classList.add('openNav')
					nav.classList.add('open')
					menuShown = true
				} else if (menuShown){
					menu.classList.remove('openNav')
					nav.classList.remove('open')
					menuShown = false
				}
			}