@font-face {
  font-family: 'BebasNeue';
  font-weight: 200;
  font-style: normal;
  src: url(/fonts/BebasNeue-Book.otf);
}
@font-face {
  font-family: 'BebasNeue';
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/BebasNeue-Regular.otf);
}
@font-face {
  font-family: 'BebasNeue';
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/BebasNeue-Bold.otf);
}
@font-face {
  font-family: 'CenturyGothic';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/CenturyGothic.ttf);
}
@font-face {
  font-family: 'CenturyGothic';
  font-weight: bold;
  font-style: normal;
  src: url(/fonts/CenturyGothic-Bold.ttf);
}
@font-face {
  font-family: 'CenturyGothic';
  font-weight: normal;
  font-style: italic;
  src: url(/fonts/CenturyGothic-Italic.ttf);
}
* {
  margin: 0;
  font-family: 'CenturyGothic';
  line-height: 100%;
}
h1,
h2,
h3 {
  font-family: 'BebasNeue';
}
h1 {
  font-size: 400%;
}
h2 {
  font-size: 300%;
}
h3 {
  font-size: 200%;
}
h4 {
  font-size: 150%;
}
h5 {
  font-size: 125%;
}
h6 {
  font-size: 100%;
}
