@font-face {
  font-family: 'BebasNeue';
  font-weight: 200;
  font-style: normal;
  src: url(/fonts/BebasNeue-Book.otf);
}
@font-face {
  font-family: 'BebasNeue';
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/BebasNeue-Regular.otf);
}
@font-face {
  font-family: 'BebasNeue';
  font-weight: 800;
  font-style: normal;
  src: url(/fonts/BebasNeue-Bold.otf);
}
@font-face {
  font-family: 'CenturyGothic';
  font-weight: normal;
  font-style: normal;
  src: url(/fonts/CenturyGothic.ttf);
}
@font-face {
  font-family: 'CenturyGothic';
  font-weight: bold;
  font-style: normal;
  src: url(/fonts/CenturyGothic-Bold.ttf);
}
@font-face {
  font-family: 'CenturyGothic';
  font-weight: normal;
  font-style: italic;
  src: url(/fonts/CenturyGothic-Italic.ttf);
}
* {
  margin: 0;
  font-family: 'CenturyGothic';
  line-height: 100%;
}
h1,
h2,
h3 {
  font-family: 'BebasNeue';
}
.footer {
  padding: 10px 0;
  background: #28825f;
  font-size: 17px;
  color: rgba(255,255,255,0.7);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .footer-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
}
[data-page="start"] .main-content h1 {
  color: #28825f;
}
[data-page="matsedel"] .main-content,
[data-page="matsedel"] .headerDiv {
  height: 457px;
  width: 1667px;
  overflow: hidden;
}
[data-page="matsedel"] .main-content .header-image,
[data-page="matsedel"] .headerDiv .header-image {
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url("images/food-header.jpeg");
  background-repeat: no-repeat;
  filter: blur(4px) brightness(60%);
}
