@keyframes outerSpinner
	from
		transform: translate(-50%, -50%) rotate(360deg)
	to
		transform: translate(-50%, -50%) rotate(0deg)
		
@keyframes innerSpinner
	from
		transform: translate(-50%, -50%) rotate(0deg)
	to
		transform: translate(-50%, -50%) rotate(360deg)


.hidden
	display none
	
.page-overlay
	position fixed
	bottom 0
	right 0
	width calc(100vw - 250px)
	height calc(100vh - 90px)
	background $lightgrey
	z-index 5
	
	img
		position absolute
		transform translate(-50%, -50%)
		top 50%
		left 50%
		
	.outer-spinner
		height 50px
		animation outerSpinner 1.5s infinite linear
		
	.inner-spinner
		height 30px
		animation innerSpinner 1.5s infinite linear
		
	@media(max-width 1023px)
		width 100vw