extends ../index

//- block pageStatus
//- 	- var signedOutPage = true;

block mainContent

	//- .signed-out-header-background

	.main-wrapper

		h1 Klasspokalen
		p Senast uppdaterat 2019-06-13

		.scoreboard#scoreboard
			//- .participant
			//- 	.name 1 na18d
			//- 	.line
			//- 	.points 1095
			//- .participant
			//- 	.name 2 na18c
			//- 	.line
			//- 	.points 964
			//- .participant
			//- 	.name 3 na18b
			//- 	.line
			//- 	.points 888

		.under-text-wrapper
			.under-text Vill du läsa det officiella reglementet för klasspokalen?
			a.rules-link(href="https://drive.google.com/file/d/1-Cjgwvyiv3VmGLpr-DT6qQuX8Ouic9Nm/view") Tryck här!


	script.
		var participants = [
			{
				name:"na22a",
				points:"0"
			},
			{
				name:"na22b",
				points:"0"
			},
			{
				name:"na22c",
				points:"0"
			},
			{
				name:"na22d",
				points:"0"
			},
			{
				name:"ek221",
				points:"0"
			},
			{
				name:"ek22b",
				points:"0"
			},
			{
				name:"sb22",
				points:"0"
			},
			{
				name:"na21a",
				points:"0"
			},
			{
				name:"na21b",
				points:"0"
			},
			{
				name:"na21c",
				points:"0"
			},
			{
				name:"na21d",
				points:"0"
			},
			{
				name:"ek21a",
				points:"0"
			},
			{
				name:"ek21b",
				points:"0"
			},
			{
				name:"sb21",
				points:"0"
			},
			{
				name:"na20a",
				points:"0"
			},
			{
				name:"na20b",
				points:"0"
			},
			{
				name:"na20c",
				points:"0"
			},
			{
				name:"na20d",
				points:"0"
			},
			{
				name:"ek20",
				points:"0"
			},
			{
				name:"sb20",
				points:"0"
			},
		]

		function generateScoreBoard(){
			var highScore = participants[0].points
			participants.forEach(function(schoolClass){
				var participant = document.createElement('div')
				participant.classList.add('participant')
				var name = document.createElement('div')
				name.classList.add('name')
				name.innerHTML = schoolClass.name
				var line = document.createElement('div')
				line.classList.add('line')
				var lineWidth = schoolClass.points / highScore * 100;
				var lineWidthOverflow = 140 * schoolClass.points / highScore;
				line.style.width = 'calc(' + `${lineWidth}% - ${lineWidthOverflow}px`
				var points = document.createElement('div')
				points.classList.add('points')
				points.innerHTML = schoolClass.points

				participant.appendChild(name)
				participant.appendChild(line)
				participant.appendChild(points)

				_('scoreboard').appendChild(participant)
			})
		}

		generateScoreBoard()