extends ../index

//- block pageStatus
//- 	- var signedOutPage = true;

block mainContent

	//- .signed-out-header-background

	.main-wrapper

		h1 Klasspokalen
		p Senast uppdaterat 2018-10-31

		.scoreboard#scoreboard
			//- .participant
			//- 	.name 1 na18d
			//- 	.line
			//- 	.points 1095
			//- .participant
			//- 	.name 2 na18c
			//- 	.line
			//- 	.points 964
			//- .participant
			//- 	.name 3 na18b
			//- 	.line
			//- 	.points 888

		.under-text-wrapper
			.under-text Vill du läsa det officiella reglementet för klasspokalen?
			a.rules-link(href="https://drive.google.com/file/d/1-Cjgwvyiv3VmGLpr-DT6qQuX8Ouic9Nm/view") Tryck här!


	script.
		var participants = [
			{
				name:"na21c",
				points:"883"
			},
			{
				name:"na19b",
				points:"817"
			},
			{
				name:"na21b",
				points:"789"
			},
			{
				name:"na19a",
				points:"762"
			},
			
			{
				name:"na19c",
				points:"692"
			},
			{
				name:"ek21b",
				points:"691"
			},
			{
				name:"na19d",
				points:"577"
			},
			{
				name:"sb21",
				points:"569"
			},
			{
				name:"ek21a",
				points:"564"
			},
			
			{
				name:"na21d",
				points:"532"
			},
			{
				name:"na21a",
				points:"400"
			},
			
			{
				name:"ek19a",
				points:"108"
			},
			{
				name:"sb19",
				points:"90"
			},
			{
				name:"na20d",
				points:"58"
			},
			{
				name:"na20a",
				points:"57"
			},
			{
				name:"na20b",
				points:"56"
			},
			{
				name:"sb20",
				points:"40"
			},
			{
				name:"ek19b",
				points:"33"
			},
			{
				name:"na20c",
				points:"31"
			},
			{
				name:"ek20",
				points:"18"
			},
		]

		function generateScoreBoard(){
			var highScore = participants[0].points
			participants.forEach(function(schoolClass){
				var participant = document.createElement('div')
				participant.classList.add('participant')
				var name = document.createElement('div')
				name.classList.add('name')
				name.innerHTML = schoolClass.name
				var line = document.createElement('div')
				line.classList.add('line')
				var lineWidth = schoolClass.points / highScore * 100
				line.style.width = 'calc(' + lineWidth + '% - 140px)'
				var points = document.createElement('div')
				points.classList.add('points')
				points.innerHTML = schoolClass.points

				participant.appendChild(name)
				participant.appendChild(line)
				participant.appendChild(points)

				_('scoreboard').appendChild(participant)
			})
		}

		generateScoreBoard()