extends ../index

block pageStatus
	- var signedOutPage = true;

block mainContent
	.header-background
	.contact-wrapper
		.contact-cell
			h3 Ordförande
			p Jacob Tilly
			p jacob.tilly@vroelevkar.se
			p +46 777 88 99
		.contact-cell
			h3 Vice ordförande
			p Linn Lindgren
			p linn.lindgren@vroelevkar.se
			p +46 777 88 99
		.contact-cell
			h3 Skattmästare
			p Max Kenning
			p max.kenning@vroelevkar.se
		.contact-cell
			h3 Administratör
			p Jacob Tilly
			p jacob.tilly@vroelevkar.se
			p +46 777 88 99
		.contact-cell
			h3 Utskottsansvarig
			p Linn Lindgren
			p linn.lindgren@vroelevkar.se
			p +46 777 88 99
		.contact-cell
			h3 Projektansvarig
			p Max Kenning
			p max.kenning@vroelevkar.se
		.contact-cell
			h3 Kommittéansvarig
			p Stephanie Arenander
			p stephanie.arenander@vroelevkar.se
