extends ../index

block pageStatus
	- var signedOutPage = true;

block mainContent
	.signed-out-header-background
	.contact-wrapper
		.contact-cell
			h3 Ordförande
			p Max Kenning
			p max.kenning@vroelevkar.se
			p 070-637 70 80
		.contact-cell
			h3 Vice ordförande
			p Matilda holmberg
			p matilda.holmberg@vroelevkar.se
		.contact-cell
			h3 Skattmästare
			p David Castellanos
			p david.castellanos@vroelevkar.se
		.contact-cell
			h3 Administratör
			p Ellinor Schmekel
			p ellinor.schmelkel@vroelevkar.se
		.contact-cell
			h3 Utskottsansvarig
			p Siri Bredberg
			p siri.bredberg@vroelevkar.se
		.contact-cell
			h3 Projektansvarig
			p Julia Finch
			p julia.finch@vroelevkar.se
		.contact-cell
			h3 Kommittéansvarig
			p Angela Chen
			p angela.chen@vroelevkar.se
