extends ../index

block pageStatus
	- var signedOutPage = true;

block mainContent
	.signed-out-header-background
	.contact-wrapper
		.contact-cell
			h3 Ordförande
			p Jacob Tilly
			p jacob.tilly@vroelevkar.se
			p 0707915084
		.contact-cell
			h3 Vice ordförande
			p Linn Lindgren
			p linn.lindgren@vroelevkar.se
			p 0767793366
		.contact-cell
			h3 Skattmästare
			p Max Kenning
			p max.kenning@vroelevkar.se
		.contact-cell
			h3 Administratör
			p Martin Serenius
			p martin.serenius@vroelevkar.se
		.contact-cell
			h3 Utskottsansvarig
			p Klara Högberg
			p klara.hogberg@vroelevkar.se
		.contact-cell
			h3 Projektansvarig
			p August Jonson
			p august.jonson@vroelevkar.se
		.contact-cell
			h3 Kommittéansvarig
			p Stephanie Arenander
			p stephanie.arenander@vroelevkar.se
