extends ../index

block pageStatus
	- var signedOutPage = true;

block mainContent
	.signed-out-header-background
	.contact-container
		.contact-wrapper.president-first-lady
			.contact-cell
				h3 Ordförande
				p Max Kenning
				p max.kenning@vroelevkar.se
				p 070-637 70 80
			.contact-cell
				h3 Vice ordförande
				p Matilda holmberg
				p matilda.holmberg@vroelevkar.se
		.contact-wrapper
			.contact-cell
				h3 Skattmästare
				p David Castellanos
				p david.castellanos@vroelevkar.se
			.contact-cell
				h3 Administratör
				p Ellinor Schmekel
				p ellinor.schmelkel@vroelevkar.se
			.contact-cell
				h3 Utskottsansvarig
				p Siri Bredberg
				p siri.bredberg@vroelevkar.se
			.contact-cell
				h3 Projektansvarig
				p Julia Finch
				p julia.finch@vroelevkar.se
			.contact-cell
				h3 Kommittéansvarig
				p Angela Chen
				p angela.chen@vroelevkar.se
		.contact-wrapper
			.contact-cell
				h3 Ordf. Sociala Utskottet
				p Åsa Xiarong Zhang
				p asa.zhang@vroelevkar.se
			.contact-cell
				h3 Ordf. Kommunikationsutskottet
				p Sara Gewriye
				p sara.gewriye@vroelevkar.se
			.contact-cell
				h3 Ordf. Traditionsutskottet
				p Vendela Ensäter
				p vendela.ensater@vroelevkar.se
			.contact-cell
				h3 Ordf. Påverkansutskottet
				p Albin Sandahl
				p albin.sandahl@vroelevkar.se
			.contact-cell
				h3 Ordf. Miljöutskottet
				p Anna Artlock
				p anna.artlock@vroelevkar.se
			.contact-cell
				h3 Ordf. Idrottsutskottet
				p Ella Hammer
				p ella.hammer@vroelevkar.se
			.contact-cell
				h3 Ordf. Finansiella Utskottet
				p Nan Enger Karlson
				p nan.enger.karlson@vroelevkar.se
			.contact-cell
				h3 Ordf. Studentutskottet
				p Elin Sun Cao
				p elin.sun.cao@vroelevkar.se