extends ../index
block mainContent

	.links

	script.
		firebase.database().ref('structure/interest-groups').once('value', function(snapshot){
			snapshot.forEach(function(group){
				console.log(group.val())
				console.log(group.key)
				document.querySelector('.links').innerHTML += '<a href="/interest-groups/' + group.key + '">' + group.val().name + '</a><br>'
			})
		})