extends ../index
block mainContent

	.headerDiv
		.header-text MATSEDEL
		.header-image
  
			script.
				serverData(
					'/api/food', 
					function(data) { console.log(data); },
					function(xhr) { console.error(xhr); }
				)