extends ../index

block mainContent

	h1 Hemsidan är fortfarande under utveckling
	
	//- .daily-message Du vet väl att det är försäljning till insparken idag?

	//- .module-grid
	//- 	.module#upcomming
	//- 		.header-section
	//- 			h3 Karnevalen
	//- 			h4 Om 4 dagar
	//- 		p Snart är det dags för den efterlängtade karnevalen! Det kommer att finnas god mat, roliga aktiviteter och kanske dyker till och med skolans egna grillmästare upp... Det här vill du inte missa!

	//- 	.module#menu
	//- 		.header-section
	//- 			h3 Matsedel
	//- 		.menu-section#today
	//- 			h4 Idag
	//- 			.menu-display
	//- 				p#main Köttbullar med brunsås och lingonsylt serveras med kokt potatis.
	//- 				p#veg Vegetariska köttbullar med brunsås och lingonsylt serveras med kokt potatis

	//- 		.menu-section#tomorrow
	//- 			h4 Imorgon
	//- 			.menu-display
	//- 				p#main Köttbullar med brunsås och lingonsylt serveras med kokt potatis.
	//- 				p#veg Vegetariska köttbullar med brunsås och lingonsylt serveras med kokt potatis

	//- 	.module#whistle
	//- 		.header-section
	//- 			h3 Visselpipan

	//- 		a#chat Chatta med styrelsen
	//- 		a#message Skicka ett förslag

	script.
		authenticateMember()
